<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>mtrx' blog</title>
    <link rel="stylesheet" href="/static/css/blog.css">
    <link rel="shortcut icon" type="image/jpg" href="/static/favicon.ico"/>
  </head>
  <body>
    <h1><a href="/blog" class="post-link" style="text-decoration:none;color:black;">mtrx' blog</a></h1>
    <h2>Edit posts</h2>
    <ul style="list-style: none;">
      {% for post in posts %}
      <li><a href="/blog/edit/{{ post.id }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
  </body>
</html>
