{% extends "base.html" %}

{% block head %}
{{ super() }}
<title>Submit post</title>
<meta property="og:title" content="{{ username }} site" />
{% endblock head %}

{% block content %}
<h1><a class="hidden-link" href="/">Hi, I'm {{ username }}</a></h1>
<p style="text-align: right">
  <a href="/">Back to the blog</a>
</p>
<p>
  This is my blog.

  {% if email %}
  If you have questions or input for me please send me an E-Mail to <img class="social-icon"
    src="/static/social-icons/mail.png" /> {{ email }}
  {% endif %}
</p>
<br>
<p>
<ul style="list-style: none;">
  {% if github_account %}
  <li><img class="social-icon" src="/static/social-icons/github.ico"><a href="https://github.com/{{ github_account }}">
      {{ github_account }}</a></li>
  {% endif %}
  {% if twitter_account %}
  <li><img class="social-icon" src="/static/social-icons/twitter.ico"><a
      href="https://twitter.com/{{ twitter_account }}"> {{ twitter_account }}</a></li>
  {% endif %}
  {% if reddit_account %}
  <li><img class="social-icon" src="/static/social-icons/reddit.ico"><a
      href="https://reddit.com/u/{{ reddit_account }}"> {{ reddit_account }}</a></li>
  {% endif %}
  {% if mastodon_account %}
  <li><img class="social-icon" src="/static/social-icons/mastodon.ico"><a href="https://mastodon.social/"> {{
      mastodon_account }}</a></li>
  {% endif %}
  {% if discord_account %}
  <li><img class="social-icon" src="/static/social-icons/discord.ico"><a href="https://discord.com/"> {{
      discord_account }}</a></li>
  {% endif %}
</ul>
</p>
{% endblock content %}