* {
  margin: 0;
  padding: 0;
}

html {
  font-family: sans-serif;
  padding: 20px;
  width: 60%;
  padding-left: 20%;
}

article {
  padding-top: 2em;
  display: flex;
}

.post-link {
  padding-right: 20px;
}

.post-title {
  font-weight: 400;
}

.post-publish-date {
  font-size: 0.7em;
}

.post-body {
  padding-top: 1em;
}

#submit-form {
  padding-top: 2em;
}

#submit-body, #submit-title {
  width: 100%;
  margin-bottom: 2em;
  resize: none;
}

#submit-body {
  height: 500px;
}

#submit-form {
  display: block
}

@media (max-width:1080px) {
  html {
    padding: 20px;
    width: 90%;
    padding-left: 5%;
  }
}
