* {
  margin: 0;
  padding: 0;
}

html {
  font-family: sans-serif;
  padding: 20px;
  width: 60%;
  padding-left: 20%;
  font-size: 1.5em;
}

@media (max-width:1080px) {
  html {
    font-family: sans-serif;
    padding: 20px;
    width: 90%;
    padding-left: 5%;
    font-size: 2em;
}
